<article class="events">
  <header><h3>{{ singleEvent.title }}</h3></header>
  <h6>Description:</h6><p>{{ singleEvent.description }}</p>
  <h6>Time:</h6><p>{{ singleEvent.startTime }}</p>
  
  {{#if name.length}}
    <h4>Attendees to this event</h4>
    <ul class="eventul">
      {{#each name}}
        <li><a href="/people/{{this.id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

  <h4>Location of this event</h4>
  <p class="sublistp"><a href="/locations/{{singleEvent.location}}">{{singleEvent.locationName}}</a></p>
</article>
