<div class="row">
  <div class="col-sm-12">
    <form class="server-form" method="post">
      <div class="form-group">
        <label for="number1">First Number</label>
        <input type="number" class="form-control" id="number1" name="number1" placeholder="First Number" value="{{firstNumber}}">
      </div>
      <div class="form-group">
        <label for="number2">Second Number</label>
        <input type="number" class="form-control" id="number2" name="number2" placeholder="Second Number" value="{{secondNumber}}">
      </div>
      <div class="form-group">
        <label for="operation">Operation</label>
        <select class="form-control" value="{{operation}}" name="operation" id="operation">
          <option value="add">Addition</option>
          <option value="subtract">Subtraction</option>
          <option value="multiply">Multiplication</option>
          <option value="divide">Division</option>
        </select>
      </div>
      {{#if error }}
      <div class="form-group">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      {{/if}}
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      {{#if result }}
      <div class="form-group">
        <div class="alert alert-success">
          The result is: {{ result }}
        </div>
      </div>
      {{/if}}
    </form>
  </div>
</div>